# JetBrains IDE settings
../.idea/

# Python virtual environments
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env
*.env.*

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test/coverage artifacts
.coverage
htmlcov/
.cache
pytest_cache/
*.cover
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Ignore datasets
datasets/


